.container {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.fieldContainer {
  margin-top: 5px;
  margin-bottom: 10px;
}

.label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}
